<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 mb-40">
                <div class="section-title">
                    <h2>About SALCAN</h2>
                </div>
                <div class="about-content">
                    <p>SALCAN Process Technology is an Electrical Engineering consultancy and a Licenced Electrical
                        Contractor. We seek to understand the needs of our clients to deliver safe, compliant, cost
                        effective designs and services. </p>
                </div>

                <div class="section-title">
                    <h2>Process Control and Automation</h2>
                </div>
                <div class="about-content">
                    <p>Innovative process control solutions are a core focus at SALCAN Process Technology. We
                        have a proven track record for delivering robust hardware and software platforms. From
                        platform selection, panel design, construction and integration, we have a wealth of
                        experience across multiple industries.
                        Choosing the right instrumentation and final elements is crucial to the success of an
                        automation system.</p>
                </div>

                <div class="section-title">
                    <h2>Hazardous Areas</h2>
                </div>
                <div class="about-content1">
                    <p>SALCAN has proven expertise across multiple sectors, from Oil & Gas, Mining,
                        Manufacturing and Defence, where Hazardous Areas are present. SALCAN employs Engineers,
                        Technicians and Electricians who are trained and competent in all aspects of Hazardous
                        Area classification, design, installation, inspection and maintenance.</p>
                </div>

                <div class="section-title">
                    <h2>Design and Construction</h2>
                </div>
                <div class="about-content2">
                    <p>From High Voltage protection design, Low Voltage distribution, through to Extra Low
                        Voltage systems, SALCAN has the capability to deliver safe and compliant projects. We
                        increasingly deliver a mix of power solutions including grid, solar, conventional
                        generation, and battery storage.
                        We have a proven track record in both green- and brownfields project delivery. Our
                        attention to detail allows us to make sense of complex, operational plants, providing
                        vision for upgrade options that minimise risk, disruption and costs.</p>
                </div>
            </div>
        </div>
    </div>
</section>